@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');


h1 {
font-family: 'Mouse Memoirs', sans-serif;
font-size: 3em;
line-height: 1.3;
color: rgb(255, 255, 255);
text-align: center;
margin-top: 10px;
margin-bottom: 3px;
}

p {
font-family: 'Patrick Hand', cursive;
text-align: center;
font-size: 1.2em;
line-height: 1.2;
margin: 0 auto;
}

body {
margin: 0px;
background-color: rgb(244, 128,125);
}

header {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 120px;
}

.logo img {
  width : 100%;
}

h2 {
font-family: 'Patrick Hand', cursive;
color: rgb(47, 51, 96);
text-align: center;
}

section {
min-height: 100vh;
display: flex;
justify-content: space-between;
background: url("images/ecran.svg") bottom center no-repeat;
background-color: rgb(244, 128,125);
background-size: cover;
margin-bottom: 0px;
}


@media screen and (max-width: 640px) {
  section {
  background: url("images/fondportrait.svg") bottom center no-repeat;
background-size: cover;
  }
}

section > div {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 1;
}



.couple {
  margin: 70px;
  display: flex;
}

.person {
  flex-basis: 100px;
}

.person img {
  width: 100%;
}

footer {
background-color: rgb(244, 128,125);
margin-top: 0px;
overflow: hidden;
}


.choices{
  display: flex;
  background-color: rgb(244, 128,125);
  justify-content: space-around;
  margin-bottom: 25px;
}

.back-to-start {
  background: url('images/nuage.svg') no-repeat;
  padding: 25px;
  position: absolute;
  top : 10%;
  left :10%;
  width: 100px;
  height: 100px;
  color: rgb(244, 128,125);
  display: block;
}

.choice a {
  display: flex;
  justify-content: center;
}


.loser {
  background: rgb(250, 227, 75) url('images/perdu.svg') top center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.do-it-again {
  background: url('images/nuage2.svg') no-repeat;
  padding: 25px;
  position: absolute;
  top : 10%;
  left :10%;
  width: 100px;
  height: 100px;
  color: rgb(244, 128,125);
  display: block;
}

.winner {
  background: yellow url('images/gagne.svg') top center no-repeat;
  background-size: cover;
  min-height: 100vh;
}


.index {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(244, 128,125);
  background-size: cover;
  margin-bottom: 0px;
}
.help {
  font-family: 'Mouse Memoirs'

}

.main-content {
  max-width: 640px;
  margin: 0 auto;
  color: rgb(0,0,0);
}

.main-content h1 {
  font-size: 9em;
  text-shadow: 4px 5px 0px rgba(44,132,240,1);
  letter-spacing: 3px;
    position: relative;
    /*border: 1px solid green;*/
}

.main-content h1::after,
.main-content h1::before  {
  content : url('images/etoiles.svg');
  display: block;
  height: 60px;
  width: 30px;
  position: absolute;

}

.main-content h1::after {
  top : 0;
  right : 0;
}
.main-content h1::before {
  top : 0;
  left : 0;
}


.help {
  background: url('images/poussiere.svg') 50% 50% no-repeat;
  background-size: 100%;
  margin: 0 auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color : rgb(44,132,240);
}

.help::after {
  content: url('images/herisson.png');
  position: relative;
  left : 90px;
}

.start-playing {
  background: url('images/startplaying.svg') no-repeat;
  margin: 0 auto;
  padding: 25px;
  width: 100px;
  height: 100px;
  color: rgb(244, 128,125);
  display: block;
}
