@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

h1 {
font-family: 'Mouse Memoirs', sans-serif;
font-size: 3em;
line-height: 1.3;
color: rgb(255, 255, 255);
text-align: center;
margin-top: 10px;
}

p {
font-family: 'Patrick Hand', cursive;
text-align: center;
margin-top: 400px;
margin-left: 350px;
margin-right: 350px;
font-size: 1.2em;
}

body {
margin: 0px;
background-color: rgb(244, 128,125);
}

header {
  display: flex;
  align-content: center;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 3em;
}

a{
  color: #FFFF;
  margin-right: 100px
}

.logo {
  max-width: 120px;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
  width : 100%;
  display: flex;
}

h2 {
font-family: 'Patrick Hand', cursive;
color: rgb(47, 51, 96);
text-align: center;
}

section {
min-height: 100vh;
display: flex;
justify-content: space-between;
background: url("images/ecran.svg") bottom center no-repeat;
background-color: rgb(244, 128,125);
background-size: cover;
margin-bottom: 0px;
}


@media screen and (max-width: 640px) {
  section {
  background: url("images/fondportrait.jpg") bottom center no-repeat;
background-size: cover;
  }
}

section > div {
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 1;
}



.couple {
  margin: 70px;
  display: flex;
}

.person {
  flex-basis: 100px;
}

.person img {
  width: 100%;
}

footer {
background-color: rgb(244, 128,125);
margin-top: 0px;
overflow: hidden;
}


.choices{
  display: flex;
  background-color: rgb(244, 128,125);
  justify-content: space-around;
  margin-bottom: 25px;
}

.back-to-start {
  background: url('images/nuage.svg') no-repeat;
  padding: 25px;
  position: absolute;
  top : 10%;
  left :10%;
  width: 100px;
  height: 100px;
  color: rgb(244, 128,125);
  display: block;
}

.choice a {
  display: flex;
  justify-content: center;
}


.loser {
  background: rgb(250, 227, 75) url('images/perdu.svg') top center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.do-it-again {
  background: url('images/nuage2.svg') no-repeat;
  padding: 25px;
  position: absolute;
  top : 10%;
  left :10%;
  width: 100px;
  height: 100px;
  color: rgb(244, 128,125);
  display: block;
}

.winner {
  background: yellow url('images/gagne.svg') top center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.start-playing {
  background: url('images/startplaying.svg') no-repeat;
  padding: 25px;
  position: absolute;
  top : 120%;
  left :45%;
  width: 100px;
  height: 100px;
  color: rgb(244, 128,125);
  display: block;
}

.video{
  min-height: 100vh;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}


.index {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background: url("images/accueil.svg") top center no-repeat;
  background-color: rgb(244, 128,125);
  background-size: cover;
  margin-bottom: 0px;
}
